@charset "UTF-8";

:root {
    /* 色管理用の変数 */
    --body-color: #333333;
    --white-color: #fff;
}

:root {
    /* コンテンツ幅管理用の変数 */
	--inner-width: 550px;
	--wrapper-width: 1100px;
    --input-width: 480px;
}

/* base
------------------------------- */
body {
    color: var(--body-color);
    font-family:Arial, sans-serif;
	font-size: 18px;
	line-height: 1.75;
	background: var(--white-color);    
}

/* 共通クラス
------------------------------- */
.wrapper {
    width: var(--wrapper-width);
    margin: 0 auto;
}


#like {
    cursor: pointer;
}

.liked {
    color: yellow;
}

.success {
    color: green;
}

.errors {
    color: red;
}

/* header
------------------------------- */
.header_wrapper {
    width: var(--wrapper-width);
    margin: 0 auto;
}

.header_nav {
    padding: 5px 0px;
    display: flex;
    gap: 30px;
    justify-content: start;
    margin-bottom: 30px;
}

/* item
------------------------------- */
.items {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    width: 20%;
}

.item_img {
    height: 50%;
}

.item_name {
    height: 20%;
}